name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Log in to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1   
    - name: Docker log in to Azure Container Registry
      env:
          ACR_LOGIN_SERVER: workregistry.azurecr.io
          ACR_USER_NAME: ${{ secrets.ACR_USER_NAME }}
          ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
      uses: azure/docker-login@v1      
      with:
        login-server: $ACR_LOGIN_SERVER
        username: $ACR_USER_NAME
        password: $ACR_PASSWORD
    - run: |
        docker build . -t ${{ secrets.ACR_LOGIN_SERVER }}/python_app:${{ github.run_number }}
        docker push ${{ secrets.ACR_LOGIN_SERVER }}/python_app:${{ github.run_number }}
